---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
import { getCurrentPage } from "../data/pages";
import { SEO } from "astro-seo";
import { urlFor } from "../utils/sanity";

const currentPage = getCurrentPage("6d566278-d441-4734-b1e6-3895519c2a3a");
const { title, image, seo } = currentPage;

// const bgImage = urlFor(image).width(1000).auto("format").url();
---

<InnerPage>
  <SEO
    slot="pageHead"
    title={seo.title}
    description={seo.description}
    openGraph={{
      basic: {
        title: seo.openGraph.title,
        type: "website",
        image: urlFor(seo.openGraph.image).width(1200).auto("format").url(),
      },
      optional: {
        description: seo.openGraph.description,
      },
    }}
  />
  <InnerHero slot="hero" title={title} image={image} />
  <div slot="content" class="grid">
    <div class="contact">
      <div class="">
        <h2 class="heading">For more information, contact:</h2>
        <div class="text">
          <p>Whittier College Admissions Office</p>
          <p>
            <a href="mailto:admission@whittier.edu">admission@whittier.edu</a>
          </p>
          <p>(562) 907-4238 (Office)</p>
        </div>
      </div>
    </div>
    <form
      class="form"
      name="contact"
      method="POST"
      data-netlify="true"
      netlify-honeypot="trap-field"
      action="/contact-success.html"
    >
      <div class="form-title heading">Sign up for updates:</div>
      <div class="flow form-items">
        <div class="sr-only">
          <label
            >Don't fill this out if you're human: <input
              tabindex="-1"
              name="trap-field"
            /></label
          >
        </div>
        <div class="form-item" style="margin-top: 0rem;">
          <label for="contactName">Name</label>
          <input id="contactName" name="name" type="text" required />
        </div>
        <div class="form-item">
          <label for="contactEmail">Email</label>
          <input
            id="contactEmail"
            name="email"
            type="email"
            required
            autocomplete="email"
          />
        </div>
        <div class="form-item">
          <label for="contactPhone">Phone</label>
          <input
            id="contactPhone"
            name="phone"
            type="tel"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            autocomplete="tel"
          />
        </div>
        <div>
          <input type="submit" />
        </div>
      </div>
    </form>
  </div>
</InnerPage>

<style>
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-block: var(--space-xl);
    justify-items: center;
  }

  .grid::after {
    content: "";
    position: absolute;
    height: calc(100% - var(--space-xl) - var(--space-xl));
    width: 1px;
    background: var(--color-brand-secondary-light);
    top: 50%;
    transform: translateY(-50%);
  }

  .relative {
    position: relative;
  }

  .heading {
    color: var(--color-brand-secondary-light);
    font-family: var(--font-primary);
    font-size: var(--step-2);
    font-weight: 700;
  }

  .text {
    font-size: var(--step-2);
    font-family: var(--font-primary);
    color: var(--color-brand-secondary-light);
  }

  .form {
    min-width: 460px;
  }

  .form-items {
    margin-top: 1rem;
  }

  .form-items > :last-child {
    place-self: flex-end;
  }

  .form-item {
    position: relative;
    background: #ccbcd3;
    padding: 8px 12px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    border-bottom: 2px solid transparent;
    width: 100%;
  }

  .form-item:focus-within {
    border-bottom: 2px solid var(--color-brand-secondary);
  }

  .form-item label {
    position: absolute;
    bottom: 6px;
    align-self: flex-end;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-brand-secondary-dark);
  }

  .form input {
    font-size: 15px;
    display: block;
    padding: 2px;
    margin: 0;
    border: none;
    background: #ccbcd3;
    color: var(--color-brand-secondary-dark);
  }

  .form input:focus-within {
    outline: none;
  }

  .form input[type="submit"] {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    background: #dba226;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 9px;
    color: var(--color-brand-secondary-dark);
  }

  .form input[type="submit"]:hover {
    opacity: 0.8;
  }

  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: 1.5fr 1fr;
    }

    .grid::after {
      display: none;
    }

    .form {
      min-width: unset;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      gap: 3rem;
      justify-items: start;
    }

    .contact,
    .form {
      padding-inline: var(--gutter);
    }

    .form .flow > * {
      max-width: none !important;
      margin-inline: 0px !important;
    }
  }

  @media (max-width: 640px) {
    .heading,
    .contact .text {
      font-size: var(--step-1);
    }
  }
</style>

<script>
  const phone_input = document.getElementById(
    "contactPhone"
  ) as HTMLInputElement;

  phone_input.addEventListener("input", () => {
    phone_input.setCustomValidity("");
    phone_input.checkValidity();
  });

  phone_input.addEventListener("invalid", () => {
    if (phone_input.value === "") {
      phone_input.setCustomValidity("Enter phone number.");
    } else {
      phone_input.setCustomValidity(
        "Enter phone number in this format: 555-555-5555."
      );
    }
  });
</script>
