---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
import { getCurrentPage } from "../data/pages";
import { urlFor } from "../utils/sanity";

const currentPage = getCurrentPage("6d566278-d441-4734-b1e6-3895519c2a3a");
const { title, image, slug, seo } = currentPage;

// const bgImage = urlFor(image).width(1000).auto("format").url();
---

<InnerPage title={seo.title} metaDescription={seo.description}>
  <InnerHero slot="hero" title={title} image={image} />
  <div slot="content" class="grid">
    <div class="contact">
      <div class="">
        <h2 class="heading">For more information, contact:</h2>
        <div class="text">
          <p>Whittier College Admissions Office</p>
          <p>
            <a href="mailto:admission@whittier.edu">admission@whittier.edu</a>
          </p>
          <p>(562) 907-4238 (Office)</p>
        </div>
      </div>
    </div>
    <form
      class="form"
      name="contact"
      method="POST"
      data-netlify="true"
      netlify-honeypot="trap-field"
      action="/contact-success/"
    >
      <div class="form-title heading">Sign up for updates:</div>
      <div class="flow form-items">
        <div class="sr-only">
          <label
            >Don't fill this out if you're human: <input
              tabindex="-1"
              name="trap-field"
            /></label
          >
        </div>
        <div class="form-item" style="margin-top: 0rem;">
          <label for="contactName">Name</label>
          <input id="contactName" name="name" type="text" required />
        </div>
        <div class="form-item">
          <label for="contactEmail">Email</label>
          <input
            id="contactEmail"
            name="email"
            type="email"
            required
            autocomplete="email"
          />
        </div>
        <div class="form-item">
          <label for="contactPhone">Phone</label>
          <input
            id="contactPhone"
            name="phone"
            type="tel"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            autocomplete="tel"
          />
        </div>
        <div>
          <input type="submit" />
        </div>
      </div>
    </form>
  </div>
</InnerPage>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-block: var(--space-xl);
  }

  /* .flex {
    display: flex;
    gap: 2rem;
    padding-block: 3rem;
  }

  .contact {
    width: 45%;
  }

  .form {
    width: 50%;
  } */

  /* .contact {
    text-align: right;
  } */

  .relative {
    position: relative;
  }

  /* .angle {
    position: relative;
    right: -50px;
    height: 260px;
    width: 155px;
    float: right;
    background: var(--color-brand-secondary-light);
    clip-path: polygon(70% 0, 100% 0, 30% 100%, 0% 100%);
    shape-outside: polygon(70% 0, 100% 0, 30% 100%, 0% 100%);
  } */

  .heading {
    color: var(--color-brand-secondary-light);
    font-family: var(--font-primary);
    font-size: var(--step-2);
    font-weight: 700;
  }

  .text {
    font-size: var(--step-2);
    font-family: var(--font-primary);
    color: var(--color-brand-secondary-light);
  }

  .form {
    min-width: 450px;
    justify-self: end;
  }

  .form-items {
    margin-top: 1rem;
  }

  .form-items > :last-child {
    place-self: flex-end;
  }

  .form-item {
    position: relative;
    background: #ccbcd3;
    padding: 8px 12px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    border-bottom: 2px solid transparent;
    width: 100%;
  }

  .form-item:focus-within {
    border-bottom: 2px solid var(--color-brand-secondary);
  }

  .form-item label {
    position: absolute;
    bottom: 6px;
    align-self: flex-end;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-brand-secondary-dark);
  }

  .form input {
    font-size: 15px;
    display: block;
    padding: 2px;
    margin: 0;
    border: none;
    background: #ccbcd3;
    color: var(--color-brand-secondary-dark);
  }

  .form input:focus-within {
    outline: none;
  }

  .form input[type="submit"] {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    background: #dba226;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 9px;
    color: var(--color-brand-secondary-dark);
  }

  .form input[type="submit"]:hover {
    opacity: 0.8;
  }

  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: 1.5fr 1fr;
    }

    .form {
      min-width: unset;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    .contact,
    .form {
      padding-inline: var(--gutter);
    }

    .form .flow > * {
      max-width: none !important;
      margin-inline: 0px !important;
    }

    .contact .heading,
    .contact .text {
      font-size: var(--step-1);
    }
  }
</style>

<script>
  const phone_input = document.getElementById(
    "contactPhone"
  ) as HTMLInputElement;

  phone_input.addEventListener("input", () => {
    phone_input.setCustomValidity("");
    phone_input.checkValidity();
  });

  phone_input.addEventListener("invalid", () => {
    if (phone_input.value === "") {
      phone_input.setCustomValidity("Enter phone number.");
    } else {
      phone_input.setCustomValidity(
        "Enter phone number in this format: 555-555-5555."
      );
    }
  });
</script>
