---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
import { getCurrentPage } from "../data/pages";
import { urlFor } from "../utils/sanity";
import { SEO } from "astro-seo";

const currentPage = getCurrentPage("6d566278-d441-4734-b1e6-3895519c2a3a");
const { title, image, seo } = currentPage;

// const bgImage = urlFor(image).width(1000).auto("format").url();
---

<InnerPage>
  <SEO
    slot="pageHead"
    title={seo.title}
    description={seo.description}
    openGraph={{
      basic: {
        title: seo.openGraph.title,
        type: "website",
        image: urlFor(seo.openGraph.image).width(1200).auto("format").url(),
      },
      optional: {
        description: seo.openGraph.description,
      },
    }}
  />
  <InnerHero slot="hero" title={title} image={image} />
  <div slot="content" class="center-items">
    <h2 class="heading">Thank you!</h2>
    <p class="text">Your form submission has been received.</p>
  </div>
</InnerPage>

<style>
  .heading,
  .text {
    color: var(--color-brand-secondary-light);
    font-family: var(--font-primary);
    font-size: var(--step-2);
  }

  .heading {
    font-weight: 700;
  }

  .center-items {
    padding-block: var(--space-xl);
    flex-direction: column;
  }
</style>
