---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
import { getCurrentPage } from "../data/pages";
import { urlFor } from "../utils/sanity";

const currentPage = getCurrentPage("6d566278-d441-4734-b1e6-3895519c2a3a");
const { title, image, slug, seo } = currentPage;

// const bgImage = urlFor(image).width(1000).auto("format").url();
---

<InnerPage title={seo.title} metaDescription={seo.description}>
  <InnerHero slot="hero" title={title} image={image} />
  <div slot="content" class="center-items">
    <h2 class="heading">Thank you!</h2>
    <p class="text">Your form submission has been received.</p>
  </div>
</InnerPage>

<style>
  .heading,
  .text {
    color: var(--color-brand-secondary-light);
    font-family: var(--font-primary);
    font-size: var(--step-2);
  }

  .heading {
    font-weight: 700;
  }

  .center-items {
    padding-block: var(--space-xl);
    flex-direction: column;
  }
</style>
