---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import FacultyMember from "../components/FacultyMember.astro";

import { getSanityData } from "../utils/sanity";
import { getCurrentPage } from "../data/pages";

const facultyMembers =
  await getSanityData(`*[_type == "facultyMember"] | order(order asc) {
  name,
  order,
  bio,
  "image": image.asset->
}`);

const currentPage = getCurrentPage("08eecbd7-c34f-4c2a-86e5-ab0aead3bb5b");
const { title, slug, seo } = currentPage;
---

<Layout title={seo.title} metaDescription={seo.description}>
  <SiteHeader slot="header" />
  <main slot="main" class="content-wrapper">
    <h1 class="title header">{title}</h1>
    <section class="entries flow">
      {
        facultyMembers.map((person, i) => (
          <FacultyMember
            facultyMember={person}
            flipped={i % 2 != 0}
            marginTop={i == 0}
          />
        ))
      }
    </section>
  </main>
  <div class="content-wrapper" slot="footer">
    <SiteFooter />
  </div>
</Layout>

<style>
  .title {
    position: absolute;
    z-index: 5;
    left: 28px;
    top: -22px;
    font-family: var(--font-emphasis);
    font-size: var(--step-10);
    color: var(--color-neutral-light);
    line-height: 1;
    letter-spacing: 1rem;
    text-transform: uppercase;
    padding-inline: 0;
  }

  .entries {
    /* margin-top: -40px; */
    /* margin-bottom: var(--space-3xl); */
    margin-bottom: 3rem;
  }

  .entries.flow {
    --flow-space: var(--space-xl);
  }

  @media (max-width: 1024px) {
    .title {
      font-size: var(--step-8);
    }
  }

  @media (max-width: 768px) {
    .content-wrapper {
      padding-inline: 0;
    }
  }

  @media (max-width: 640px) {
    .entries {
      margin-top: -16px;
    }

    .title {
      left: -3px;
      font-size: var(--step-7);
      letter-spacing: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: var(--step-6);
      top: -12px;
    }
  }
</style>
