---
import InnerPage from "../layouts/InnerPage.astro";
import InnerHero from "../components/InnerHero.astro";
// import { getCourses } from "../utils/sanity.js";
---

<InnerPage>
  <InnerHero slot="hero" title="Faculty" />
  <div slot="content" class=""></div>
</InnerPage>

<style></style>
