---
import Button from "./Button.astro";
---

<div id="scroll-to-top" class="hide">
  <Button href="#content">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        d="M267.3 395.3c-6.2 6.2-16.4 6.2-22.6 0l-192-192c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L256 361.4 436.7 180.7c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6l-192 192z"
      ></path></svg
    >
    <span class="sr-only">Scroll to top</span>
  </Button>
</div>

<style>
  #scroll-to-top {
    position: fixed;
    z-index: 50;
    bottom: 2rem;
    right: 2rem;
    transition: all 0.3s ease;
  }

  .hide {
    opacity: 0;
  }

  #scroll-to-top svg {
    fill: var(--color-neutral-light);
    width: 2rem;
    transform: rotate(180deg);
  }
</style>

<script is:inline>
  const targetElement = document.querySelector("#scroll-to-top");

  let lastScrollPosition = window.scrollY + 200;

  window.addEventListener("scroll", () => {
    const currentScrollPosition = window.pageYOffset;

    if (currentScrollPosition < lastScrollPosition) {
      targetElement.classList.remove("hide"); // Show the element
    } else {
      targetElement.classList.add("hide"); // Hide the element
    }

    lastScrollPosition = currentScrollPosition;
  });
</script>
