---
import { urlFor } from "../utils/sanity";
const { title, image } = Astro.props;
---

<section class="hero">
  <div class="content">
    <h1 class="title header">{title}</h1>
  </div>
  <div class="background"></div>
  <img
    class="img"
    src={urlFor(image)
      .width(1000)
      .height(Math.floor(1000 / image.asset.metadata.dimensions.aspectRatio))
      .auto("format")
      .url()}
    alt={image.alt || ""}
    style={`background-image: url(${image.asset.metadata.lqip})`}
    loading="eager"
    decoding="async"
  />
</section>

<style>
  .hero {
    position: relative;
    overflow: hidden;
    height: clamp(var(--space-3xl), 45vh, 60rem);
  }

  .hero .content {
    position: relative;
    z-index: 3;
  }

  .title {
    font-family: var(--font-emphasis);
    font-size: var(--step-10);
    color: var(--color-neutral-light);
    line-height: 1;
    position: relative;
    letter-spacing: 1rem;
    text-transform: uppercase;
    top: -25px;
    left: -6px;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: clamp(var(--space-3xl), 70%, 90vw);
    background: var(--full-gradient);
    /* background-color: var(--color-brand-primary); */
    clip-path: var(--angled-clip-path);
    z-index: 2;
  }

  @supports (inset: 0) {
    .background {
      inset: 0;
    }
  }

  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: clamp(var(--space-3xl), 50%, 50vw);
    object-fit: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 1024px) {
    .title {
      font-size: var(--step-8);
      top: -15px;
    }
  }

  @media (max-width: 768px) {
    .title {
      left: -4px;
    }
  }

  @media (max-width: 640px) {
    .title {
      font-size: var(--step-7);
      letter-spacing: 0.5rem;
    }
    .hero {
      height: clamp(var(--space-3xl), 25vh, 12rem);
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: var(--step-6);
      top: -12px;
    }
  }
</style>
