<div class="letter-grid flow">
  <div class="letters" data-word="create">
    <div class="letter" data-letter="c">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m57,91.25c-24.38,0-44.25-19.88-44.25-44.25S32.63,2.75,57,2.75c4.5,0,9.12.75,13,2v20.25c-3.62-1.75-8.12-3-13-3-13.62,0-24,11.25-24,25s10.38,25,24,25c7.38,0,14.12-2.62,18.25-5.25v20.5c-5.62,2.62-11.75,4-18.25,4Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m35.88,38.34c0,2.27-.85,4.22-2.55,5.84-1.7,1.63-3.73,2.44-6.07,2.44v.68c1.89,0,3.44.36,4.65,1.08,1.21.72,2.1,1.8,2.67,3.23.57,1.44.96,2.76,1.19,3.97.23,1.21.41,2.82.57,4.82.15,2,.3,3.42.45,4.25.6,3.71,1.49,7.22,2.67,10.55,1.17,3.33,2.97,6.41,5.39,9.25,2.42,2.84,5.18,4.25,8.28,4.25v.79c-9.83,0-17.96-2.89-24.39-8.68-6.43-5.79-10.32-14.2-11.68-25.24-.3-2.34-1.23-4.31-2.78-5.9-1.55-1.59-3.46-2.38-5.73-2.38v-.68c2.34,0,4.27-.79,5.79-2.38,1.51-1.59,2.42-3.55,2.72-5.9.53-4.31,1.63-8.41,3.29-12.31,1.66-3.89,3.89-7.5,6.69-10.83,2.8-3.33,6.45-5.96,10.95-7.88,4.5-1.93,9.55-2.89,15.14-2.89v.68c-3.1.45-5.82,1.95-8.17,4.48-2.35,2.53-4.14,5.6-5.39,9.19-1.25,3.59-2.18,7.03-2.78,10.32-.61,3.29-.91,6.37-.91,9.25ZM60.27,4.42v.68c2.34,0,4.4.76,6.18,2.27,1.78,1.51,2.67,3.48,2.67,5.9s.76,4.29,2.27,5.84c1.51,1.55,3.48,2.33,5.9,2.33,2.27,0,4.2-.79,5.79-2.38s2.38-3.52,2.38-5.79c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55h-17.02Zm0,85.08h17.02c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3,0-2.27-.79-4.2-2.38-5.79s-3.52-2.38-5.79-2.38c-2.42,0-4.39.78-5.9,2.33-1.51,1.55-2.27,3.5-2.27,5.84s-.89,4.39-2.67,5.9c-1.78,1.51-3.84,2.27-6.18,2.27v.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m53.55,91.17c-5.55,0-10.75-.75-15.59-2.26-4.84-1.51-9.42-3.89-13.74-7.14-4.33-3.25-7.74-7.87-10.23-13.86-2.5-5.99-3.75-13.03-3.75-21.12,0-14.52,4.11-25.48,12.32-32.9C30.76,6.46,41.45,2.75,54.62,2.75c2.86,0,7.04.34,12.55,1.01,5.51.67,10.25,1.49,14.22,2.44l2.38,26.89h-1.07c-8.89-11.19-15.09-18.52-18.62-22.02-3.53-3.49-6.72-5.24-9.58-5.24-4.92,0-9.06,3.25-12.44,9.76-3.37,6.51-5.06,16.9-5.06,31.18,0,7.38.51,13.86,1.55,19.46,1.03,5.59,2.4,9.9,4.11,12.91,1.71,3.02,3.49,5.26,5.35,6.72,1.86,1.47,3.79,2.2,5.77,2.2,2.93,0,5.93-1.51,8.98-4.52,3.05-3.01,9.58-10.63,19.58-22.85h1.19l-2.5,27.01c-10.63,2.3-19.79,3.45-27.49,3.45Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="r">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m11.81,45.38C11.81,20.25,28.06,2.75,52.06,2.75c6.62,0,15.38,1.62,21.25,4.75v20.62c-5.62-3.5-12.62-6.12-20.38-6.12-13.62,0-20.88,10-20.88,23.38v44.12H11.81v-44.12Zm23.5-4h22l24.88,48.12h-22.38l-24.5-48.12Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m31.46,44.07c-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55s2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H8.66v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79v24.5c0,2.5-.79,4.59-2.38,6.3Zm47.64,42.43c-1.97-1.55-3.44-3.53-4.42-5.96l-11.46-28.36c-.61-1.44-1.61-2.61-3.01-3.52-1.4-.91-2.97-1.36-4.71-1.36v-.68h1.59c4.61,0,8.6-2.08,11.97-6.24,3.36-4.16,5.05-9,5.05-14.52,0-5.82-2.1-10.85-6.3-15.09-4.2-4.23-9.21-6.35-15.03-6.35h-8.85v.68c2.34,0,4.33.78,5.96,2.33,1.63,1.55,2.44,3.5,2.44,5.84v24.73c0,2.35-.81,4.37-2.44,6.07-1.63,1.7-3.61,2.55-5.96,2.55h-3.06v.68c1.06.08,1.97.4,2.72.96.76.57,1.28,1.19,1.59,1.87.3.83,2.44,6.07,6.41,15.71s5.99,14.54,6.07,14.69c.98,2.35.98,4.31,0,5.9-.98,1.59-2.65,2.38-4.99,2.38v.68h32.67v-.68c-2.19,0-4.27-.77-6.24-2.33Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m2.61,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h46.05c10.55,0,18.68,1.94,24.4,5.83,5.71,3.89,8.57,9.64,8.57,17.25s-3.02,13.01-9.04,16.9c-6.03,3.89-13.96,5.83-23.8,5.83h-2.86v.24l24.16,4.76,10.23,19.28c.32.79,4,5.35,11.07,13.69v1.31h-30.94l-18.33-39.03h-6.07v36.06l7.73.36v2.62H2.61Zm33.44-41.89h5.35c4.92,0,8.73-1.53,11.42-4.58,2.7-3.05,4.05-8.39,4.05-16.01,0-6.03-1.25-10.81-3.75-14.34-2.5-3.53-5.73-5.3-9.7-5.3h-7.38v40.22Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="e">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m76.13,72v17.5H17.88V4.5h57.62v17.5h-36.88v50h37.5Zm-36-17.62l8.25-16.25h22.38v16.25h-30.62Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m37.78,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H12.59v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Zm16.45-8.85h17.02c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3,0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Zm0,85.08v-.68c2.34,0,4.41-.75,6.18-2.27,1.78-1.51,2.67-3.48,2.67-5.9s.75-4.29,2.27-5.84c1.51-1.55,3.48-2.33,5.9-2.33,2.27,0,4.2.79,5.79,2.38,1.59,1.59,2.38,3.52,2.38,5.79,0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55h-17.02Zm16.9-55.93v27h-.68c0-3.48-1.36-6.54-4.08-9.19-2.72-2.65-5.98-3.97-9.76-3.97v-.68c3.78,0,7.03-1.32,9.76-3.97,2.72-2.65,4.08-5.71,4.08-9.19h.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m9.59,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h66.16l3.21,28.56h-1.31c-8.09-11.42-13.43-18.54-16.01-21.36-2.58-2.81-5.18-4.22-7.79-4.22h-10.83v36.77h12.14c1.67,0,3.39-.91,5.18-2.74,1.79-1.82,4.5-5.24,8.15-10.23h1.19v29.04h-1.19c-3.73-5.08-6.47-8.53-8.21-10.35-1.75-1.82-3.45-2.74-5.12-2.74h-12.14v39.39h13.33c3.01,0,5.93-1.57,8.75-4.7,2.81-3.13,8.19-10.33,16.12-21.6h1.19l-3.33,29.27H9.59Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="a">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m44.25,65.38h-9.38l-9.38,24.12H4.25l15.75-40.38h30.62l-6.38,16.25Zm45.5,24.12h-22.12L34.63,4.5h22.12l33,85Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m24.14,72.48v8.28c0,2.12.81,3.99,2.44,5.62,1.63,1.63,3.53,2.44,5.73,2.44v.68H4.63v-.68c5.07,0,11.38-5.45,18.94-16.34h.57Zm6.24-34.03c0,2.42.89,4.39,2.67,5.9,1.78,1.51,3.84,2.27,6.18,2.27v.68h-17.02c-2.27,0-4.2-.85-5.79-2.55-1.59-1.7-2.38-3.8-2.38-6.3,0-2.27.79-4.2,2.38-5.79s3.52-2.38,5.79-2.38c2.42,0,4.38.78,5.9,2.33,1.51,1.55,2.27,3.5,2.27,5.84Zm51.5,46.06c.53,1.21,1.53,2.23,3.01,3.06,1.47.83,2.97,1.25,4.48,1.25v.68h-33.12v-.68c1.97,0,3.63-.66,4.99-1.99,1.36-1.32,2.04-2.93,2.04-4.82,0-.53-.04-.94-.11-1.25l-8.73-24.73c-.91-2.5-2.46-4.57-4.65-6.24-2.19-1.66-4.42-2.5-6.69-2.5h-.57v-.68c1.66,0,3.01-.51,4.03-1.53s1.53-2.29,1.53-3.8c0-.68-.19-1.59-.57-2.72l-9.87-27.45c-1.36-4.01-4.01-6.01-7.94-6.01h-.57v-.68h23.37l12.59,34.6c.23.91.34,1.7.34,2.38,0,1.59-.53,2.86-1.59,3.8-1.06.95-2.5,1.42-4.31,1.42v.68c2.27,0,4.48.72,6.64,2.16,2.16,1.44,3.69,3.25,4.59,5.45.07.23,1.93,5.2,5.56,14.92,3.63,9.72,5.48,14.62,5.56,14.69Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m1.36,89.5v-2.62l10.11-.36L34.92,20.84l-6.78-16.42h25.82l30.58,82.11,8.09.36v2.62h-43.32v-2.62l9.04-.36-8.81-24.75h-26.18l-8.69,24.75,10.35.36v2.62H1.36Zm23.09-30.7h24.16l-11.9-33.68h-.12l-12.14,33.68Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="t">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path d="m78.88,22h-21.5v67.5h-20.75V22H15.12V4.5h63.75v17.5Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m28.96,4.42v.68c-2.35,0-4.41.76-6.18,2.27-1.78,1.51-2.67,3.48-2.67,5.9s-.76,4.29-2.27,5.84c-1.51,1.55-3.48,2.33-5.9,2.33-2.27,0-4.2-.79-5.79-2.38-1.59-1.59-2.38-3.52-2.38-5.79,0-2.5.79-4.59,2.38-6.3s3.52-2.55,5.79-2.55h17.02Zm26.54,8.85v24.5c0,2.5-.79,4.59-2.38,6.3s-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55s2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H30.32v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V4.42h17.02v8.85Zm9.53-8.85h17.02c2.27,0,4.2.85,5.79,2.55s2.38,3.8,2.38,6.3c0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m26,89.5v-2.62l8.57-.36V7.39h-3.09c-2.3,0-4.68,1.43-7.14,4.28-2.46,2.86-7.66,9.96-15.59,21.3h-1.19l3.21-28.56h72.35l3.33,28.56h-1.31c-7.62-10.95-12.75-17.95-15.41-21-2.66-3.05-5.06-4.58-7.2-4.58h-3.09v79.13l8.57.36v2.62H26Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="e">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m76.13,72v17.5H17.88V4.5h57.62v17.5h-36.88v50h37.5Zm-36-17.62l8.25-16.25h22.38v16.25h-30.62Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m37.78,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H12.59v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Zm16.45-8.85h17.02c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3,0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Zm0,85.08v-.68c2.34,0,4.41-.75,6.18-2.27,1.78-1.51,2.67-3.48,2.67-5.9s.75-4.29,2.27-5.84c1.51-1.55,3.48-2.33,5.9-2.33,2.27,0,4.2.79,5.79,2.38,1.59,1.59,2.38,3.52,2.38,5.79,0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55h-17.02Zm16.9-55.93v27h-.68c0-3.48-1.36-6.54-4.08-9.19-2.72-2.65-5.98-3.97-9.76-3.97v-.68c3.78,0,7.03-1.32,9.76-3.97,2.72-2.65,4.08-5.71,4.08-9.19h.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-display-font=""
        ><path
          d="m9.59,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h66.16l3.21,28.56h-1.31c-8.09-11.42-13.43-18.54-16.01-21.36-2.58-2.81-5.18-4.22-7.79-4.22h-10.83v36.77h12.14c1.67,0,3.39-.91,5.18-2.74,1.79-1.82,4.5-5.24,8.15-10.23h1.19v29.04h-1.19c-3.73-5.08-6.47-8.53-8.21-10.35-1.75-1.82-3.45-2.74-5.12-2.74h-12.14v39.39h13.33c3.01,0,5.93-1.57,8.75-4.7,2.81-3.13,8.19-10.33,16.12-21.6h1.19l-3.33,29.27H9.59Z"
        ></path></svg
      >
    </div>
  </div>
  <div class="letters" data-word="invent">
    <div class="letter" data-letter="i">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path d="m36.62,4.5h20.75v85h-20.75V4.5Z"></path><polygon
          points="68.4 4.5 60.38 20.5 75.87 20.5 75.87 4.5 68.4 4.5"
        ></polygon><polygon
          points="26.15 73.5 18.13 89.5 33.62 89.5 33.62 73.5 26.15 73.5"
        ></polygon></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m55.17,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H29.98v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m26,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h42.01v2.62l-8.57.36v79.13l8.57.36v2.62H26Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="n">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m63.31,89.5L28.94,37.12v52.38H8.94V4.5h20l56.12,85h-21.75Zm20.12-38h-20V4.5h20v47Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m60.78,47.3h.79c4.99,0,9.08,1.89,12.25,5.67l9.08,10.78v25.75h-.45l-26.89-33.69c-1.89-2.34-4.27-4.35-7.15-6.01-2.87-1.66-5.48-2.5-7.83-2.5h-.91v-.79c2.8,0,4.2-1.09,4.2-3.29,0-1.44-.76-3.14-2.27-5.1L17.79,8.39c-1.74-2.19-3.97-3.29-6.69-3.29v-.68h34.03v.68c-2.8,0-4.2,1.17-4.2,3.52,0,.53.3,1.3.91,2.33.6,1.02,2.55,3.71,5.84,8.05,3.29,4.35,8.34,10.83,15.14,19.46,1.36,1.82,2.04,3.44,2.04,4.88.07.98-.27,1.76-1.02,2.33-.76.57-1.78.85-3.06.85v.79Zm-32.56,17.02v17.02c0,2.27-.85,4.2-2.55,5.79-1.7,1.59-3.8,2.38-6.3,2.38-2.27,0-4.2-.79-5.79-2.38-1.59-1.59-2.38-3.52-2.38-5.79,0-2.42.77-4.39,2.33-5.9,1.55-1.51,3.5-2.27,5.84-2.27s4.39-.89,5.9-2.67c1.51-1.78,2.27-3.84,2.27-6.18h.68Zm54.68-37.21h-.68c0-2.34-.76-4.4-2.27-6.18-1.51-1.78-3.48-2.67-5.9-2.67s-4.29-.75-5.84-2.27c-1.55-1.51-2.33-3.48-2.33-5.9,0-2.27.79-4.2,2.38-5.79,1.59-1.59,3.52-2.38,5.79-2.38,2.5,0,4.59.79,6.3,2.38,1.7,1.59,2.55,3.52,2.55,5.79v17.02Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m3.51,89.5v-2.62l11.42-.36V17.15L3.51,4.89v-.48h32.96l39.63,51.88V7.39l-11.54-.36v-2.62h25.94v2.62l-11.54.36v82.11h-7.02L18.14,20.36h-.12v66.16l11.42.36v2.62H3.51Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="v">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m4.31,5h22.12l32.88,85h-22.12L4.31,5Zm63.12,0h22.25l-19.38,50h-20.62L67.44,5Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m43.14,89.5l-13.39-33.69c-.91-2.34-2.5-4.35-4.76-6.01-2.27-1.66-4.58-2.5-6.92-2.5h-.57v-.68c2.34,0,4.01-.83,4.99-2.5.98-1.66,1.02-3.67.11-6.01L12.63,13.38c-.98-2.42-2.4-4.41-4.25-5.96-1.85-1.55-3.91-2.33-6.18-2.33v-.68h32.56v.68c-2.42,0-4.12.79-5.1,2.38-.98,1.59-.98,3.56,0,5.9l9.87,24.62c.91,2.27.91,4.27,0,6.01-.91,1.74-2.42,2.61-4.54,2.61h-.45v.68h.23c2.34,0,4.69.83,7.03,2.5,2.34,1.66,4.01,3.67,4.99,6.01l13.61,33.69h-17.24ZM58.91,4.42v.68c2.34,0,4.01.79,4.99,2.38.98,1.59.98,3.56,0,5.9l-10.89,27.23,8.39,21.55,19.51-48.78c.98-2.42,2.46-4.41,4.42-5.96,1.97-1.55,4.12-2.33,6.47-2.33v-.68h-32.9Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m89.77,4.42v2.62l-10.12.36-33.56,82.47h-3.69L8.97,7.39l-7.97-.36v-2.62h43.67v2.62l-9.16.36,20.11,51.53L76.56,7.39l-12.61-.36v-2.62h25.82Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="e">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m76.13,72v17.5H17.88V4.5h57.62v17.5h-36.88v50h37.5Zm-36-17.62l8.25-16.25h22.38v16.25h-30.62Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m37.78,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H12.59v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Zm16.45-8.85h17.02c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3,0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Zm0,85.08v-.68c2.34,0,4.41-.75,6.18-2.27,1.78-1.51,2.67-3.48,2.67-5.9s.75-4.29,2.27-5.84c1.51-1.55,3.48-2.33,5.9-2.33,2.27,0,4.2.79,5.79,2.38,1.59,1.59,2.38,3.52,2.38,5.79,0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55h-17.02Zm16.9-55.93v27h-.68c0-3.48-1.36-6.54-4.08-9.19-2.72-2.65-5.98-3.97-9.76-3.97v-.68c3.78,0,7.03-1.32,9.76-3.97,2.72-2.65,4.08-5.71,4.08-9.19h.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m9.59,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h66.16l3.21,28.56h-1.31c-8.09-11.42-13.43-18.54-16.01-21.36-2.58-2.81-5.18-4.22-7.79-4.22h-10.83v36.77h12.14c1.67,0,3.39-.91,5.18-2.74,1.79-1.82,4.5-5.24,8.15-10.23h1.19v29.04h-1.19c-3.73-5.08-6.47-8.53-8.21-10.35-1.75-1.82-3.45-2.74-5.12-2.74h-12.14v39.39h13.33c3.01,0,5.93-1.57,8.75-4.7,2.81-3.13,8.19-10.33,16.12-21.6h1.19l-3.33,29.27H9.59Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="n">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m63.31,89.5L28.94,37.12v52.38H8.94V4.5h20l56.12,85h-21.75Zm20.12-38h-20V4.5h20v47Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m60.78,47.3h.79c4.99,0,9.08,1.89,12.25,5.67l9.08,10.78v25.75h-.45l-26.89-33.69c-1.89-2.34-4.27-4.35-7.15-6.01-2.87-1.66-5.48-2.5-7.83-2.5h-.91v-.79c2.8,0,4.2-1.09,4.2-3.29,0-1.44-.76-3.14-2.27-5.1L17.79,8.39c-1.74-2.19-3.97-3.29-6.69-3.29v-.68h34.03v.68c-2.8,0-4.2,1.17-4.2,3.52,0,.53.3,1.3.91,2.33.6,1.02,2.55,3.71,5.84,8.05,3.29,4.35,8.34,10.83,15.14,19.46,1.36,1.82,2.04,3.44,2.04,4.88.07.98-.27,1.76-1.02,2.33-.76.57-1.78.85-3.06.85v.79Zm-32.56,17.02v17.02c0,2.27-.85,4.2-2.55,5.79-1.7,1.59-3.8,2.38-6.3,2.38-2.27,0-4.2-.79-5.79-2.38-1.59-1.59-2.38-3.52-2.38-5.79,0-2.42.77-4.39,2.33-5.9,1.55-1.51,3.5-2.27,5.84-2.27s4.39-.89,5.9-2.67c1.51-1.78,2.27-3.84,2.27-6.18h.68Zm54.68-37.21h-.68c0-2.34-.76-4.4-2.27-6.18-1.51-1.78-3.48-2.67-5.9-2.67s-4.29-.75-5.84-2.27c-1.55-1.51-2.33-3.48-2.33-5.9,0-2.27.79-4.2,2.38-5.79,1.59-1.59,3.52-2.38,5.79-2.38,2.5,0,4.59.79,6.3,2.38,1.7,1.59,2.55,3.52,2.55,5.79v17.02Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m3.51,89.5v-2.62l11.42-.36V17.15L3.51,4.89v-.48h32.96l39.63,51.88V7.39l-11.54-.36v-2.62h25.94v2.62l-11.54.36v82.11h-7.02L18.14,20.36h-.12v66.16l11.42.36v2.62H3.51Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="t">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path d="m78.88,22h-21.5v67.5h-20.75V22H15.12V4.5h63.75v17.5Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-display-font=""
        ><path
          d="m28.96,4.42v.68c-2.35,0-4.41.76-6.18,2.27-1.78,1.51-2.67,3.48-2.67,5.9s-.76,4.29-2.27,5.84c-1.51,1.55-3.48,2.33-5.9,2.33-2.27,0-4.2-.79-5.79-2.38-1.59-1.59-2.38-3.52-2.38-5.79,0-2.5.79-4.59,2.38-6.3s3.52-2.55,5.79-2.55h17.02Zm26.54,8.85v24.5c0,2.5-.79,4.59-2.38,6.3s-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55s2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H30.32v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V4.42h17.02v8.85Zm9.53-8.85h17.02c2.27,0,4.2.85,5.79,2.55s2.38,3.8,2.38,6.3c0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m26,89.5v-2.62l8.57-.36V7.39h-3.09c-2.3,0-4.68,1.43-7.14,4.28-2.46,2.86-7.66,9.96-15.59,21.3h-1.19l3.21-28.56h72.35l3.33,28.56h-1.31c-7.62-10.95-12.75-17.95-15.41-21-2.66-3.05-5.06-4.58-7.2-4.58h-3.09v79.13l8.57.36v2.62H26Z"
        ></path></svg
      >
    </div>
  </div>
  <div class="letters" data-word="design">
    <div class="letter" data-letter="d">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m8.81,4.49h33.88c23.38,0,42.5,19.12,42.5,42.5s-18.25,42.5-42.12,42.5h-2.62l-8.88-17.5h8.62c14,0,24.75-11.25,24.75-25s-10.75-25-24.75-25h-10.62v67.5H8.81V4.49Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m33.91,13.33v24.49c0,2.49-.79,4.59-2.38,6.29s-3.51,2.55-5.78,2.55v.68c2.27,0,4.19.85,5.78,2.55s2.38,3.8,2.38,6.29v24.49c0,2.27.85,4.19,2.55,5.78,1.7,1.59,3.8,2.38,6.29,2.38v.68H8.74v-.68c2.19,0,4.1-.81,5.72-2.44,1.62-1.62,2.44-3.53,2.44-5.72v-24.49c0-2.49-.79-4.59-2.38-6.29-1.59-1.7-3.51-2.55-5.78-2.55v-.68c2.27,0,4.19-.85,5.78-2.55,1.59-1.7,2.38-3.8,2.38-6.29V13.33c0-2.19-.81-4.1-2.44-5.72-1.63-1.62-3.53-2.44-5.72-2.44v-.68h34.01v.68c-2.49,0-4.59.79-6.29,2.38-1.7,1.59-2.55,3.51-2.55,5.78Zm49.88,37.52c.98,1.36,1.47,3.25,1.47,5.67,0,5.37-2.08,11.34-6.23,17.91-6.35,9.75-16.21,14.78-29.59,15.08v-.79c4.84,0,9.07-3.74,12.7-11.22,2.87-5.97,4.42-13.26,4.65-21.88.07-2.27-.76-4.21-2.49-5.84-1.74-1.62-3.78-2.44-6.12-2.44v-.68c2.34,0,4.35-.81,6.01-2.44,1.66-1.62,2.53-3.57,2.61-5.84v-.45c-.68-13.98-3.78-23.65-9.3-29.02-2.34-2.19-5.03-3.44-8.05-3.74v-.68c5.82,0,11.45,1.4,16.89,4.19,5.44,2.8,9.94,6.8,13.49,12.02,3.55,5.21,5.33,11,5.33,17.34,0,2.42-.78,4.46-2.32,6.12-1.55,1.66-3.5,2.49-5.84,2.49v.68c2.95,0,5.21,1.17,6.8,3.51Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m.85,89.48v-2.62l8.69-.36V7.37l-8.69-.36v-2.62h42.72c14.28,0,25.45,3.83,33.5,11.48,8.05,7.66,12.08,17.91,12.08,30.76s-3.95,23.21-11.84,31.06c-7.9,7.85-19.14,11.78-33.74,11.78H.85Zm33.44-2.97h7.73c6.19,0,11.15-3.25,14.88-9.76,3.73-6.5,5.59-16.46,5.59-29.87s-1.84-23.74-5.53-30.05c-3.69-6.31-8.67-9.46-14.94-9.46h-7.73v79.13Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="e">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m76.13,72v17.5H17.88V4.5h57.62v17.5h-36.88v50h37.5Zm-36-17.62l8.25-16.25h22.38v16.25h-30.62Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m37.78,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H12.59v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Zm16.45-8.85h17.02c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3,0,2.27-.79,4.2-2.38,5.79-1.59,1.59-3.52,2.38-5.79,2.38-2.42,0-4.39-.77-5.9-2.33-1.51-1.55-2.27-3.5-2.27-5.84s-.89-4.39-2.67-5.9c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Zm0,85.08v-.68c2.34,0,4.41-.75,6.18-2.27,1.78-1.51,2.67-3.48,2.67-5.9s.75-4.29,2.27-5.84c1.51-1.55,3.48-2.33,5.9-2.33,2.27,0,4.2.79,5.79,2.38,1.59,1.59,2.38,3.52,2.38,5.79,0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55h-17.02Zm16.9-55.93v27h-.68c0-3.48-1.36-6.54-4.08-9.19-2.72-2.65-5.98-3.97-9.76-3.97v-.68c3.78,0,7.03-1.32,9.76-3.97,2.72-2.65,4.08-5.71,4.08-9.19h.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m9.59,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h66.16l3.21,28.56h-1.31c-8.09-11.42-13.43-18.54-16.01-21.36-2.58-2.81-5.18-4.22-7.79-4.22h-10.83v36.77h12.14c1.67,0,3.39-.91,5.18-2.74,1.79-1.82,4.5-5.24,8.15-10.23h1.19v29.04h-1.19c-3.73-5.08-6.47-8.53-8.21-10.35-1.75-1.82-3.45-2.74-5.12-2.74h-12.14v39.39h13.33c3.01,0,5.93-1.57,8.75-4.7,2.81-3.13,8.19-10.33,16.12-21.6h1.19l-3.33,29.27H9.59Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="s">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m17.75,71.99h32.25c3.25,0,5-1.62,5-4,0-1.62-.75-2.88-2.88-5.12l-18.5-20.12c-5.75-6.38-10.5-12.5-10.5-19.75,0-6.25,2-13.62,10.62-18.5h20.88c-6.25,2.25-10.88,7.62-10.88,13.62,0,3.5,1.5,6.75,7.5,13.38l13.88,15.25c7.5,8.25,11.12,13.38,11.12,22,0,9.88-8.25,20.75-22.38,20.75h-27.25l-8.88-17.5Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m44.62,89.51h-17c-2.27,0-4.19-.85-5.78-2.55s-2.38-3.8-2.38-6.29c0-2.27.79-4.19,2.38-5.78,1.59-1.59,3.51-2.38,5.78-2.38,2.42,0,4.38.78,5.89,2.32,1.51,1.55,2.27,3.5,2.27,5.84s.89,4.38,2.66,5.89c1.78,1.51,3.84,2.27,6.18,2.27v.68Zm29.81-19.95c.38,5.82-1.15,10.6-4.59,14.34-3.44,3.74-8.18,5.61-14.23,5.61h-3.74v-.68c2.42,0,4.42-.94,6.01-2.83,2.64-2.95,3.21-7.71,1.7-14.28-.68-3.1-2.83-6.73-6.46-10.88-4.61-5.21-10.28-9.18-17-11.9-2.49-1.06-5.55-1.59-9.18-1.59v-.68c.83,0,1.4-.04,1.7-.11,3.93-1.13,4.38-3.21,1.36-6.23-.38-.38-1.55-1.47-3.51-3.29-2.04-1.89-3.68-4.02-4.93-6.4-1.25-2.38-1.91-4.48-1.98-6.29-.3-7.33,2.12-12.81,7.25-16.44,3.17-2.27,7.03-3.4,11.56-3.4h3.63v.68c-.98,0-2.19.57-3.63,1.7-1.44,1.13-2.65,3.08-3.63,5.84-.98,2.76-1.06,5.91-.23,9.47.45,1.89,1.28,3.63,2.49,5.21,1.21,1.59,3.12,3.53,5.72,5.84,2.61,2.31,4.21,3.76,4.82,4.36,2.95,2.72,3.59,5.21,1.93,7.48-.3.45-.74.81-1.3,1.08-.57.27-1.08.44-1.53.51h-.68v.68h2.95c3.7,0,6.39.23,8.05.68,2.87.76,5.59,2.12,8.16,4.08,5.74,4.53,8.84,10.35,9.3,17.46ZM49.38,4.49h17c2.27,0,4.19.85,5.78,2.55,1.59,1.7,2.38,3.8,2.38,6.29,0,2.27-.79,4.19-2.38,5.78-1.59,1.59-3.51,2.38-5.78,2.38-2.42,0-4.38-.77-5.89-2.32-1.51-1.55-2.27-3.49-2.27-5.84s-.89-4.38-2.66-5.89c-1.78-1.51-3.84-2.27-6.18-2.27v-.68Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m47.42,91.15c-6.98,0-16.42-1.63-28.32-4.88l-2.38-26.18h1.19c9.52,12.22,15.96,19.93,19.34,23.15,3.37,3.21,6.76,4.82,10.17,4.82s6.56-1.21,8.98-3.63c2.42-2.42,3.63-5.57,3.63-9.46s-1.19-7.16-3.57-9.58c-2.38-2.42-5.83-4.62-10.35-6.6l-12.61-5.71c-11.03-5.08-16.54-13.25-16.54-24.51,0-8.01,2.66-14.32,7.97-18.92,5.31-4.6,12.1-6.9,20.35-6.9s16.7.91,24.4,2.74l2.26,22.73h-1.31c-8.41-9.52-14.14-15.63-17.2-18.33-3.05-2.7-5.85-4.05-8.39-4.05-3.17,0-5.89.99-8.15,2.98-2.26,1.98-3.39,4.76-3.39,8.33,0,6.27,4.44,11.35,13.33,15.23l11.07,5c2.3,1.03,4.26,2.04,5.89,3.04,1.62.99,3.63,2.54,6.01,4.64,2.38,2.1,4.22,4.76,5.53,7.97,1.31,3.21,1.96,6.88,1.96,11.01,0,4.84-.95,9.08-2.86,12.73-1.9,3.65-4.4,6.47-7.5,8.45-3.09,1.98-6.29,3.47-9.58,4.46-3.29.99-6.61,1.49-9.94,1.49Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="i">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path d="m36.62,4.5h20.75v85h-20.75V4.5Z"></path><polygon
          points="68.4 4.5 60.38 20.5 75.87 20.5 75.87 4.5 68.4 4.5"
        ></polygon><polygon
          points="26.15 73.5 18.13 89.5 33.62 89.5 33.62 73.5 26.15 73.5"
        ></polygon></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m55.17,13.27v24.5c0,2.5-.79,4.59-2.38,6.3-1.59,1.7-3.52,2.55-5.79,2.55v.68c2.27,0,4.2.85,5.79,2.55,1.59,1.7,2.38,3.8,2.38,6.3v24.5c0,2.27.85,4.2,2.55,5.79,1.7,1.59,3.8,2.38,6.3,2.38v.68H29.98v-.68c2.19,0,4.1-.81,5.73-2.44s2.44-3.53,2.44-5.73v-24.5c0-2.5-.79-4.59-2.38-6.3-1.59-1.7-3.52-2.55-5.79-2.55v-.68c2.27,0,4.2-.85,5.79-2.55,1.59-1.7,2.38-3.8,2.38-6.3V13.27c0-2.19-.81-4.1-2.44-5.73-1.63-1.63-3.54-2.44-5.73-2.44v-.68h34.03v.68c-2.5,0-4.59.79-6.3,2.38-1.7,1.59-2.55,3.52-2.55,5.79Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m26,89.5v-2.62l8.69-.36V7.39l-8.69-.36v-2.62h42.01v2.62l-8.57.36v79.13l8.57.36v2.62H26Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="g">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m51.38,21.99c-13.5,0-24,11.62-24,25,0,15.12,11.25,25,24,25,4.5,0,8-.38,11.25-1.62l-9.75,19.12c-1.5.38-3.88.62-5.25.62-24.62,0-40.5-22.38-40.5-43.12C7.12,22.87,27,2.74,51.38,2.74c10.5,0,20.12,2.62,27.75,7v22.12c-6.38-6-17.12-9.88-27.75-9.88Zm14.75,27.5h20.75v40h-20.75v-40Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m33.21,38.39c0,2.27-.85,4.21-2.55,5.84-1.7,1.63-3.72,2.44-6.06,2.44v.68c1.89,0,3.44.36,4.65,1.08,1.21.72,2.1,1.8,2.66,3.23.57,1.44.96,2.76,1.19,3.97.23,1.21.42,2.82.57,4.82.15,2,.3,3.42.45,4.25.6,3.7,1.49,7.22,2.66,10.54,1.17,3.33,2.97,6.4,5.38,9.24,2.42,2.83,5.18,4.25,8.28,4.25v.79c-9.82,0-17.95-2.89-24.37-8.67-6.42-5.78-10.32-14.19-11.68-25.22-.3-2.34-1.23-4.31-2.78-5.89-1.55-1.59-3.46-2.38-5.72-2.38v-.68c2.34,0,4.27-.79,5.78-2.38,1.51-1.59,2.42-3.55,2.72-5.89.53-4.31,1.62-8.41,3.29-12.3,1.66-3.89,3.89-7.5,6.69-10.83,2.79-3.32,6.44-5.95,10.94-7.88s9.54-2.89,15.13-2.89v.68c-3.1.45-5.82,1.95-8.16,4.48-2.34,2.53-4.14,5.59-5.38,9.18-1.25,3.59-2.17,7.03-2.78,10.32s-.91,6.37-.91,9.24ZM58.94,4.49v.68c2.34,0,4.4.76,6.18,2.27,1.77,1.51,2.66,3.48,2.66,5.89s.75,4.29,2.27,5.84c1.51,1.55,3.48,2.32,5.89,2.32,2.27,0,4.19-.79,5.78-2.38,1.59-1.59,2.38-3.51,2.38-5.78,0-2.49-.79-4.59-2.38-6.29-1.59-1.7-3.51-2.55-5.78-2.55h-17Zm25.17,42.17v21.54c0,6.2-2.04,11.3-6.12,15.3-4.08,4.01-8.96,6.01-14.62,6.01h-4.42v-.68c2.49,0,4.48-.85,5.95-2.55,1.47-1.7,2.21-3.57,2.21-5.61v-24.6c0-2.49-.79-4.57-2.38-6.23-1.59-1.66-3.51-2.49-5.78-2.49v-.68h25.17Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m51.28,90.79c-5.55,0-10.77-.71-15.65-2.14-4.88-1.43-9.54-3.71-13.98-6.84-4.44-3.13-7.97-7.63-10.59-13.51-2.62-5.87-3.93-12.85-3.93-20.94,0-7.62,1.17-14.34,3.51-20.17s5.55-10.49,9.64-13.98c4.08-3.49,8.73-6.11,13.92-7.85,5.2-1.74,10.85-2.62,16.96-2.62,6.9,0,16.38,1.15,28.44,3.45l2.5,26.89h-1.19c-9.68-11.42-16.3-18.82-19.87-22.19-3.57-3.37-6.62-5.06-9.16-5.06-2.38,0-4.58.68-6.61,2.02-2.02,1.35-3.91,3.55-5.65,6.6-1.75,3.05-3.13,7.42-4.16,13.09-1.03,5.67-1.55,12.44-1.55,20.29,0,26.58,6.11,39.86,18.33,39.86,5,0,8.76-1.35,11.31-4.05v-32.37h-15.47v-2.97h38.79v35.7l-12.5,1.31c-9.52,3.65-17.22,5.47-23.09,5.47Z"
        ></path></svg
      >
    </div>
    <div class="letter" data-letter="n">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="svang"
        data-display-font="true"
        ><path
          d="m63.31,89.5L28.94,37.12v52.38H8.94V4.5h20l56.12,85h-21.75Zm20.12-38h-20V4.5h20v47Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="marle"
        data-font-display=""
        ><path
          d="m60.78,47.3h.79c4.99,0,9.08,1.89,12.25,5.67l9.08,10.78v25.75h-.45l-26.89-33.69c-1.89-2.34-4.27-4.35-7.15-6.01-2.87-1.66-5.48-2.5-7.83-2.5h-.91v-.79c2.8,0,4.2-1.09,4.2-3.29,0-1.44-.76-3.14-2.27-5.1L17.79,8.39c-1.74-2.19-3.97-3.29-6.69-3.29v-.68h34.03v.68c-2.8,0-4.2,1.17-4.2,3.52,0,.53.3,1.3.91,2.33.6,1.02,2.55,3.71,5.84,8.05,3.29,4.35,8.34,10.83,15.14,19.46,1.36,1.82,2.04,3.44,2.04,4.88.07.98-.27,1.76-1.02,2.33-.76.57-1.78.85-3.06.85v.79Zm-32.56,17.02v17.02c0,2.27-.85,4.2-2.55,5.79-1.7,1.59-3.8,2.38-6.3,2.38-2.27,0-4.2-.79-5.79-2.38-1.59-1.59-2.38-3.52-2.38-5.79,0-2.42.77-4.39,2.33-5.9,1.55-1.51,3.5-2.27,5.84-2.27s4.39-.89,5.9-2.67c1.51-1.78,2.27-3.84,2.27-6.18h.68Zm54.68-37.21h-.68c0-2.34-.76-4.4-2.27-6.18-1.51-1.78-3.48-2.67-5.9-2.67s-4.29-.75-5.84-2.27c-1.55-1.51-2.33-3.48-2.33-5.9,0-2.27.79-4.2,2.38-5.79,1.59-1.59,3.52-2.38,5.79-2.38,2.5,0,4.59.79,6.3,2.38,1.7,1.59,2.55,3.52,2.55,5.79v17.02Z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 94 94"
        data-font="para"
        data-font-display=""
        ><path
          d="m3.51,89.5v-2.62l11.42-.36V17.15L3.51,4.89v-.48h32.96l39.63,51.88V7.39l-11.54-.36v-2.62h25.94v2.62l-11.54.36v82.11h-7.02L18.14,20.36h-.12v66.16l11.42.36v2.62H3.51Z"
        ></path></svg
      >
    </div>
  </div>
</div>

<style is:global>
  .letter-grid {
    justify-self: start;
    position: relative;
    /* left: -2.5rem; */
  }

  .letter-grid.flow {
    --flow-space: 2rem;
  }

  .letter-grid .letters {
    display: grid;
    grid-template-columns: repeat(6, min(10vw, 150px));
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 5px;
  }

  .letter {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: crosshair;
    /* transition: all 0.25s ease-in-out; */
  }

  .letters svg {
    fill: white;
    position: absolute;
    inset: 0;
    opacity: 0;
    /* transform: scale(0.8);
    transition: all 0.4s ease-in-out; */
  }

  .letters svg[data-font="svang"] {
    position: relative;
  }

  .letters svg[data-font="marle"] {
  }

  /* .letter {
    position: relative;
    cursor: crosshair;
    transition: all 0.25s ease-in-out;
  } */

  .letters svg[data-display-font="true"] {
    opacity: 1;
    /* transform: scale(1); */
  }

  /* .letter.leaving {
    opacity: 0;
    transform: scale(0.75);
  }

  .letter.entering {
    opacity: 1;
    transform: scale(1);
  } */

  @media (max-width: 768px) {
    .letter-grid {
      justify-self: center;
      position: relative;
      left: 0;
    }

    .letter-grid .letters {
      grid-template-columns: repeat(6, min(13vw, 150px));
    }
  }
</style>

<script>
  const letters = document.querySelectorAll(".letters .letter");
  const firstLetter = letters[0].querySelectorAll("svg");
  const themes = [];
  firstLetter.forEach((svg) => themes.push(svg.getAttribute("data-font")));

  function switchThemes(theme) {
    const currentIndex = themes.indexOf(theme);
    // Use the remainder operator to return to start of array
    const nextIndex = (currentIndex + 1) % themes.length;
    // console.log(themes[nextIndex]);
    return themes[nextIndex];
  }

  //   function setDisplay(attribute) {
  //     if (attribute == "true") {
  //       return "false";
  //     } else {
  //       return "true";
  //     }
  //   }

  letters.forEach((letter) => {
    letter.addEventListener("mouseenter", (e) => {
      const target = e.currentTarget;
      const svgList = [];
      const svgs = target.querySelectorAll("svg");
      svgs.forEach((svg) => svgList.push(svg));

      let currentlyDisplayed = svgList.find(
        (svg) => svg.getAttribute("data-display-font") == "true"
      );
      let nextItem = svgList.find(
        (svg) =>
          svg.getAttribute("data-font") ==
          switchThemes(currentlyDisplayed.getAttribute("data-font"))
      );
      currentlyDisplayed.setAttribute("data-display-font", "false");
      nextItem.setAttribute("data-display-font", "true");
    });
  });
</script>
