---
import { urlFor } from "../utils/sanity";

const { projects } = Astro.props;
---

<div class="grid">
  {
    projects.map((item) => {
      const imgAspectRatio = item.image.metadata.dimensions.aspectRatio;
      return (
        <div class="relative grid-item" style={`--aspect: ${imgAspectRatio}`}>
          <div class="grid-text">{item.name}</div>
          <img
            src={urlFor(item.image).width(900).auto("format").url()}
            alt={item.imageAlt}
            width={900}
            height={Math.floor(900 / imgAspectRatio)}
            data-aspectRatio={imgAspectRatio}
          />
        </div>
      );
    })
  }
</div>

<style>
  .grid {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .grid-item {
    overflow: hidden;
    min-width: 30rem;
    flex-grow: var(--aspect);
    flex-basis: 0;
  }

  .grid-item img {
    object-fit: cover;
    height: 100%;
    /* aspect-ratio: 1/1;
    object-fit: cover; */
  }

  .grid-text {
    position: absolute;
    font-size: var(--step-1);
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2rem;
    opacity: 0;
    color: var(--color-neutral-light);
    z-index: 2;
    transition: all 0.3s ease;
    background: linear-gradient(to top, rgb(0 0 0 / 85%), rgb(0 0 0 / 0%));
  }

  /* .grid-text h3 {
    font-family: var(--font-secondary);
    font-size: var(--step-1);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  } */
  /* 
  img {
    transition: all 0.5s ease;
  } */

  .spacer {
    height: 3px;
    width: 3rem;
    background: var(--color-brand-primary-light);
    margin-inline: auto;
  }

  .grid-item:hover .grid-text {
    opacity: 1;
  }

  /* .grid-item:hover .overlay {
    opacity: 1;
  }

  .grid-item:hover img {
    transform: scale(1.05);
    filter: saturate(0);
    opacity: 0.4;
  } */

  @media (max-width: 1024px) {
    .grid-item {
      min-width: 20rem;
    }
  }

  @media (max-width: 690px) {
    .grid-item {
      min-width: 100%;
    }
  }
</style>
