---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
import SocialLinks from "./SocialLinks.astro";
// import "../styles/footerBackgroundSvg.css";
---

<footer class="footer-gradient">
  <div class="content-wrapper grid">
    <div class="flex">
      <a href="/" class="logo-wrapper"><Logo width="large" /></a>
      <div class="flex flow cluster">
        <SocialLinks />
        <p>
          <span>13406 E. Philadelphia St. Whittier, CA 90602</span>
          <span style="margin-inline: 9px;">|</span>
          <span>562.907.4200</span>
        </p>
      </div>
    </div>
    <div>
      <form
        class="form"
        name="contact-footer"
        method="POST"
        data-netlify="true"
      >
        <div class="form-title">Want to know more?</div>
        <div class="flow">
          <div class="form-item">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required />
          </div>
          <div class="form-item">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              required
              autocomplete="email"
            />
          </div>
          <div class="form-item">
            <label for="phone">Phone</label>
            <input
              id="phone"
              name="phone"
              type="tel"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              autocomplete="tel"
            />
          </div>
          <div>
            <input type="submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>

<style>
  footer {
    background: var(--full-gradient);
    color: var(--color-neutral-light);
    padding-block-start: var(--space-2xl);
    padding-block-end: var(--space-xl);
    font-family: var(--font-sans);
    font-size: var(--step--1);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .grid > .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid > :last-child {
    place-self: end;
  }

  .content-wrapper {
    max-width: none;
  }

  /* .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  } */

  /* .content-wrapper.cluster {
    --justify: space-between;
  } */

  .flex.flow.cluster {
    --flow-space: 0.5rem;
    margin-top: 3rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-wrapper {
    width: fit-content;
    display: block;
    position: relative;
    left: -8px;
  }

  a {
    transition: opacity 0.2s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  .form .flow {
    --flow-space: 1.5rem;
  }

  .form-title {
    font-family: var(--font-primary);
    font-size: var(--step-4);
    line-height: 1.15;
    margin-bottom: 2rem;
  }

  .form-item {
    position: relative;
    background: white;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    border-bottom: 2px solid transparent;
  }

  .form-item:focus-within {
    border-bottom: 2px solid #dba226;
  }

  .form-item label {
    position: absolute;
    bottom: 4px;
    align-self: flex-end;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-brand-secondary-light);
  }

  .form input {
    font-size: 15px;
    display: block;
    padding: 2px;
    margin: 0;
    border: none;
    color: var(--color-brand-secondary-light);
  }

  .form input:focus-within {
    outline: none;
  }

  .form input[type="submit"] {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    background: #dba226;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 9px;
    color: var(--color-brand-secondary-dark);
  }

  .form input[type="submit"]:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }

    .grid > :last-child {
      order: 1;
      place-self: start;
    }

    .grid > :first-child {
      order: 2;
      margin-top: 2rem;
    }

    .form-item {
      padding: 6px;
    }

    .form input {
      font-size: 14px;
      padding: 1px;
    }
  }

  @media (max-width: 640px) {
    /* .flex.flow.cluster {
      display: block;
      --flow-space: 1rem;
      margin-top: var(--space-l);
    } */
  }
</style>

<script>
  const footer_phone_input = document.getElementById(
    "phone"
  ) as HTMLInputElement;

  footer_phone_input.addEventListener("input", () => {
    footer_phone_input.setCustomValidity("");
    footer_phone_input.checkValidity();
  });

  footer_phone_input.addEventListener("invalid", () => {
    if (footer_phone_input.value === "") {
      footer_phone_input.setCustomValidity("Enter phone number.");
    } else {
      footer_phone_input.setCustomValidity(
        "Enter phone number in this format: 555-555-5555."
      );
    }
  });
</script>
