---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
import SocialLinks from "./SocialLinks.astro";
// import "../styles/footerBackgroundSvg.css";
---

<footer class="footer-gradient">
  <div class="content-wrapper grid">
    <div class="flex">
      <a href="/" class="logo-wrapper"><Logo width="large" /></a>
    </div>
    <div class="form-wrapper">
      <form
        class="form"
        name="contact-footer"
        method="POST"
        data-netlify="true"
        netlify-honeypot="trap-field"
        action="/contact-success"
      >
        <div class="form-title">Want to know more?</div>
        <div class="flow">
          <div class="sr-only">
            <label
              >Don't fill this out if you're human: <input
                name="trap-field"
                tabindex="-1"
              /></label
            >
          </div>
          <div class="form-item" style="margin-top: 0rem;">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required />
          </div>
          <div class="form-item">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="email"
              required
              autocomplete="email"
            />
          </div>
          <div class="form-item">
            <label for="phone">Phone</label>
            <input
              id="phone"
              name="phone"
              type="tel"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              autocomplete="tel"
            />
          </div>
          <div>
            <input type="submit" />
          </div>
        </div>
      </form>
    </div>
    <div class="flex flow cluster">
      <SocialLinks />
      <p>
        <span>13406 E. Philadelphia St. Whittier, CA 90602</span>
        <span style="margin-inline: 9px;">|</span>
        <span>562.907.4200</span>
      </p>
    </div>
    <div>
      <a href="#" class="external-link cluster">
        <span>Apply Now</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="14"
          height="14"
          fill="var(--color-neutral-light)"
          style="position: relative; top: -1px;"
          ><path
            d="M304 24c0 13.3 10.7 24 24 24H430.1L207 271c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l223-223V184c0 13.3 10.7 24 24 24s24-10.7 24-24V24c0-13.3-10.7-24-24-24H328c-13.3 0-24 10.7-24 24zM72 32C32.2 32 0 64.2 0 104V440c0 39.8 32.2 72 72 72H408c39.8 0 72-32.2 72-72V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V440c0 13.3-10.7 24-24 24H72c-13.3 0-24-10.7-24-24V104c0-13.3 10.7-24 24-24H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H72z"
          ></path></svg
        >
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    background: var(--full-gradient);
    color: var(--color-neutral-light);
    padding-block-start: var(--space-l);
    padding-block-end: var(--space-m);
    font-family: var(--font-sans);
    font-size: var(--step--1);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  .grid > .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid > :last-child,
  .grid > .form-wrapper {
    place-self: end;
  }

  .content-wrapper {
    max-width: none;
  }

  .external-link.cluster {
    --cluster-space: 8px;
    --align: center;
    font-family: var(--font-secondary);
    font-size: 16px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }

  /* .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  } */

  /* .content-wrapper.cluster {
    --justify: space-between;
  } */

  .flex.flow.cluster {
    --flow-space: 0rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-wrapper {
    width: fit-content;
    display: block;
    position: relative;
    left: -8px;
  }

  a {
    transition: opacity 0.2s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  .form {
    width: 350px;
  }

  .form .flow {
    --flow-space: 1.125rem;
  }

  .form-title {
    font-family: var(--font-primary);
    font-size: 24px;
    line-height: 1.15;
    margin-bottom: 1.25rem;
  }

  .form-item {
    position: relative;
    background: white;
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    border-bottom: 2px solid transparent;
  }

  .form-item:focus-within {
    border-bottom: 2px solid #dba226;
  }

  .form-item label {
    position: absolute;
    bottom: 2px;
    align-self: flex-end;
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-brand-secondary-light);
  }

  .form input {
    font-size: 15px;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color-brand-secondary-light);
  }

  .form input:focus-within {
    outline: none;
  }

  .form input[type="submit"] {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
    background: #dba226;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 8px;
    color: var(--color-brand-secondary-dark);
  }

  .form input[type="submit"]:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .grid > :last-child,
    .grid > .form-wrapper {
      place-self: start;
    }

    .grid > :first-child {
      order: 1;
    }

    .grid > :nth-child(2) {
      order: 2;
    }

    .grid > :nth-child(3) {
      order: 4;
    }

    .grid > :nth-child(4) {
      order: 3;
    }

    .form {
      width: auto;
      max-width: 350px;
    }

    .grid > .form-wrapper {
      place-self: stretch;
    }

    .form-item {
      padding: 6px;
    }

    .form input {
      font-size: 14px;
      padding: 1px;
    }
  }

  @media (max-width: 640px) {
    .grid > :first-child {
      margin-bottom: 1rem;
    }

    .flex.flow.cluster {
      margin-top: 2rem;
    }
  }
</style>

<script>
  const footer_phone_input = document.getElementById(
    "phone"
  ) as HTMLInputElement;

  footer_phone_input.addEventListener("input", () => {
    footer_phone_input.setCustomValidity("");
    footer_phone_input.checkValidity();
  });

  footer_phone_input.addEventListener("invalid", () => {
    if (footer_phone_input.value === "") {
      footer_phone_input.setCustomValidity("Enter phone number.");
    } else {
      footer_phone_input.setCustomValidity(
        "Enter phone number in this format: 555-555-5555."
      );
    }
  });
</script>
