---
import Logo from "../components/Logo.astro";
import Button from "../components/Button.astro";
import NavMenu from "../components/Svelte/NavMenu.svelte";

const layouts = {
  home: "home",
  inner: "inner",
};

const navigation = [
  {
    name: "Classes",
    href: "/classes",
  },
  // {
  //   name: "Calendar",
  //   href: "/calendar",
  // },
  {
    name: "Gallery",
    href: "/gallery",
  },
  {
    name: "Faculty",
    href: "/faculty",
  },
  {
    name: "Contact",
    href: "/contact",
  },
];

const { layout = "inner" } = Astro.props;
---

<header
  class:list={[layouts[layout], "header", "header-grid", "content-wrapper"]}
>
  <a href="/" class="header-text">
    <Logo
      fill={layout == "inner"
        ? "var(--color-brand-secondary-light)"
        : "var(--color-neutral-light)"}
    />
    <div style="display: none;">Graphic Design Certificate</div>
  </a>

  <div class="cluster">
    <div class="cluster actions">
      <a href="#" class="nav-link external cluster">
        <span>Apply Now</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="14"
          height="14"
          fill={`${
            layout == "home"
              ? "var(--color-neutral-light)"
              : "var(--color-brand-secondary-light)"
          }`}
          ><path
            d="M304 24c0 13.3 10.7 24 24 24H430.1L207 271c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l223-223V184c0 13.3 10.7 24 24 24s24-10.7 24-24V24c0-13.3-10.7-24-24-24H328c-13.3 0-24 10.7-24 24zM72 32C32.2 32 0 64.2 0 104V440c0 39.8 32.2 72 72 72H408c39.8 0 72-32.2 72-72V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V440c0 13.3-10.7 24-24 24H72c-13.3 0-24-10.7-24-24V104c0-13.3 10.7-24 24-24H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H72z"
          ></path></svg
        >
      </a>
      <a href="/contact" class="nav-link">Request Info</a>
    </div>
    <NavMenu theme={layout == "inner" ? "brand-reverse" : "brand"} client:load>
      <a href="/" class="home-anchor"
        >Graphic Design<br /> Certificate Program</a
      >
      <ul class="flow">
        {
          navigation.map((item) => (
            <li class="nav-item">
              <a href={item.href}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </NavMenu>
  </div>
</header>

<style>
  /* header.home,
  header.inner {
    padding-block-start: 2rem;
    padding-inline: 3rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .header-grid {
    z-index: 10;
  }

  header.home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  /* header.inner {
    position: relative;
    padding-block-end: 2.5rem;
  } */

  .home-anchor {
    display: block;
    font-family: var(--font-secondary);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--step-0);
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .home-anchor:hover {
    opacity: 0.7;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--font-secondary);
    font-size: var(--step--1);
    color: var(--color-brand-primary);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .header-text > :first-child {
    font-weight: 700;
  }

  .header-text > :last-child {
    font-weight: 400;
  }

  .header-text:hover {
    opacity: 0.8;
  }

  .nav-item {
    position: relative;
    font-family: var(--font-primary);
    font-size: var(--step-3);
    text-transform: lowercase;
  }

  .nav-item:hover a {
    text-decoration: underline;
  }

  .nav-item::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    opacity: 0;
    height: 0%;
    background: #dba226;
    left: -3rem;
    transition: all 0.2s ease;
  }

  .nav-item:hover::before {
    height: 100%;
    opacity: 1;
  }

  .nav-link {
    font-family: var(--font-secondary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
  }

  .nav-link:hover {
    opacity: 0.7;
  }

  .home .nav-link {
    color: var(--color-neutral-light);
  }

  .home .header-text {
    align-items: center;
  }

  .inner .nav-link {
    color: var(--color-brand-secondary-light);
  }

  .nav-link.external.cluster {
    --cluster-space: 8px;
    --align: center;
  }

  .nav-link.external svg {
    position: relative;
    top: -0.5px;
  }

  .cluster.actions {
    --cluster-space: 2rem;
    position: relative;
    padding-right: 1rem;
  }

  @media (max-width: 640px) {
    .cluster.actions {
      display: none;
    }

    .nav-item::before {
      display: none;
    }

    /* .header-text {
      align-items: flex-start;
    } */

    header.home,
    header.inner {
      padding-block-start: 2rem;
      padding-inline: 1rem;
    }
  }
</style>
