---
import "../styles/global.css";

const { title, metaDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="pageHead" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="preload"
      href="/fonts/SvangBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Gobold-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Gobold-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/BodoniModa_9pt-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <style>
      @font-face {
        font-family: "Gobold";
        src: url("/fonts/Gobold-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Gobold";
        src: url("/fonts/Gobold-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Bodoni Moda Small";
        src: url("/fonts/BodoniModa_9pt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Bodoni Moda Small";
        src: url("/fonts/BodoniModa_9pt-Italic.woff2") format("woff2");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: "Svang";
        src: url("/fonts/SvangBold.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Para Supreme";
        src: url("/fonts/ParaSupremeBlackNormal.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Marle";
        src: url("/fonts/MarleRegular.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body>
    <slot name="header" />
    <slot name="main" />
    <slot name="footer" />
  </body>
</html>

<style is:global>
  body {
    font-size: var(--step-0);
    color: var(--color-neutral-dark);
    font-family: var(--font-sans);
  }

  .content-wrapper {
    --wrapper-max-width: 1440px /* 1300px */;
    position: relative;
    max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 90rem);
    padding-inline: var(--gutter);
    margin-inline: auto;
  }

  .header-grid {
    position: relative;
    display: grid;
    grid-template-columns: min(40vw, 200px) 1fr;
    gap: 1rem;
    padding-block: 2rem;
  }

  .header-grid > :last-child {
    justify-content: end;
  }

  /* Composition utilities */
  .flow {
    --flow-space: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .flow > * {
    margin-block: 0;
  }

  .flow > * + * {
    margin-block-start: var(--flow-space);
  }

  .flex {
    display: flex;
  }

  .cluster {
    --cluster-space: 1rem;
    --justify: flex-start;
    --align: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-space);
    justify-content: var(--justify);
    align-items: var(--align);
  }

  .frame {
    --width: 4;
    --height: 3;
    aspect-ratio: var(--width) / var(--height);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frame.video {
    --width: 16;
    --height: 9;
  }

  .frame.square {
    --width: 1;
    --height: 1;
  }

  .frame.avatar {
    --width: 1;
    --height: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
  }

  .frame > img,
  .frame > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
